@mixin list-unstyled {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

@mixin link-unstyled {
    text-decoration: none;
    background-color: transparent;
}

@mixin background-styled {
    background-image: url(../assets/images/watches.png);
    background-repeat: no-repeat;
    background-size: 587px;
    background-position: calc(50% + 665px) 85px;
}